<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<form method="post" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <span>Name</span>
    <input type="text" th:field="*{name}" id="firstname"/>
    <br>
    <span>Surname</span>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br>
    <span>Email</span>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="Изменить"/>
</form>
<br>
<a th:href="@{/logout}">Выход</a>
</body>
</html>