<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<ul>
    <h4>
        <li>
            <div th:utext="${user.getId()}">...</div>
        </li>
        <li>
            <div th:utext="${user.getName()}">...</div>
        </li>
        <li>
            <div th:utext="${user.getLastname()}">...</div>
        </li>
        <li>
            <div th:utext="${user.getEmail()}">...</div>
        </li>
        <br/>
        <a th:href="@{/logout}">Выход</a>
    </h4>
</ul>
</body>
</html>