<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<ul>
    <h4>
        <span>ID: </span>
        <div th:utext="${user.getId()}"></div>
        <br>
        <span>Имя: </span>
        <div th:utext="${user.getName()}"></div>
        <br>
        <span>Фамилия: </span>
        <div th:utext="${user.getLastname()}"></div>
        <br>
        <span>Email: </span>
        <div th:utext="${user.getEmail()}"></div>
        <br>
        <br>
        <a th:href="@{/logout}">Выход</a>
    </h4>
</ul>
</body>
</html>